In [ ]:
#Q1
numbers = [10,20,4,45,99]
max_number=numbers[0]
i=1
while(i<len(numbers)):
  if numbers[i] > max_number:
    max_number = numbers[i]
  i+=1
print("Max Number : ",max_number)

Max Number :  99

In [ ]:
#Q2
numbers = [10, 20, 30,40]
sum = 0
i = 0
while i < len(numbers):
    sum = sum+numbers[i]
    i += 1

print("The sum of element is:", sum)

The sum of element is: 100

In [ ]:
#Q3
numbers = [1,2,3,4,5]
l=len(numbers)-1
i = 0
newl=[]
while i < len(numbers):
  newl.append(numbers[l])
  i += 1
  l -= 1

print("The reverse list is:", newl)

The reverse list is: [5, 4, 3, 2, 1]

In [ ]:
# Q4

numbers = [88,5,7,99,55,65]
l = len(numbers) - 1
s = 0

while s < l:
    if numbers[s] > numbers[l]:
        numbers[s], numbers[l] = numbers[l], numbers[s]

    l -= 1

    if s == l:
        l = len(numbers) - 1
        s += 1

print("Ascending list:", numbers)

Ascending list: [5, 7, 55, 65, 88, 99]

In [ ]:
# Q5
numbers = [1, 2, 2, 3, 4, 4, 5]
new = []

for i in numbers:
    if i not in new:
        new.append(i)

print(new)

[1, 2, 3, 4, 5]

In [ ]:
# Q6
numbers = [1, 2, 3, 4, 3, 5, 6]
for i in range(len(numbers)):
    for j in range(i+1, len(numbers)):
        if numbers[i] + numbers[j] == 6:
            print(numbers[i], numbers[j])

1 5
2 4
3 3

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Q7
nested_list = [1, [2, 3], [4, [5, 6], 7], 8]

fla_list = []

def flat(nested_list):
  for i in nested_list:
    if (type(i)==list):
      flat(i)
    else:
      fla_list.append(i)
flat(nested_list)
print(fla_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
n = [1, 2, 3, 4, 5]

smallest = n[0] ##1
largest = n[0]
total = 0
for i in n:
  total+=i
  if (i < smallest): ## smallest toh baad mein ho rha hai update
    smallest = i
  if (i > largest): ## largest toh baad mein ho rha hai update
    largest = i

sol=total-largest-smallest
print(sol)

1
5
9

In [ ]:
## Intermediate
#Q9
num = [1, 2, 3, 2, 1]
i=0
li=len(num)-1
pal=[]
while i<len(num):
  if (num[i] == num [li]):
    pal.append(num[i])
  li-=1
  i+=1
if (pal == num):
  print("Palindrome: ",pal)
else:
  print("Not a Palindrome")

Palindrome:  [1, 2, 3, 2, 1]

In [ ]:
#10
num = [1, 2, 3, 2, 4, 5, 1, 6]
dupl = []

def dup(num):
  for i in num:
    if i not in dupl:
      dupl.append(i)
    else:
      continue
  print(dupl)

dup(num)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Q11
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common=[]

for i in list1:
  if i in list2:
    common.append(i)
print(common)

[3, 4, 5]

In [ ]:
#Q12
words = ["apple", "banana", "strawberry", "kiwi"]
lg=words[0]
mxlg=len(words[0])

for i in words:
  if mxlg<len(i):
    mxlg=len(i)
    lg = i
print(lg)

strawberry

In [ ]:
## Advanced
#Q1
n = int(input("Enter the no. of list : "))
m_list=[]
s_finder=[]
for i in range(n):
  m = int(input("Enter the elements in the list : "))
  m_list.append(m)
print(m_list)

for i in range(1,len(m_list)+1):
  if i not in m_list:
    s_finder.append(i)
print(s_finder)

Enter the no. of list : 5
Enter the elements in the list : 1
Enter the elements in the list : 2
Enter the elements in the list : 4
Enter the elements in the list : 5
Enter the elements in the list : 6
[1, 2, 4, 5, 6]
[3]

In [ ]:
#Q2
num = [4, 5, 1, 2, 0, 4, 5, 2]

count = {}

for x in num:
    count[x] = count.get(x, 0) + 1

for i in count:
    if count[i] == 1:
        print(f"only these are once repeating: {i}, Repeating: {count[i]}")

only these are once repeating: 1, Repeating: 1
only these are once repeating: 0, Repeating: 1

In [ ]:
#Q3
num = [0, 1, 0, 3, 12]
pos = 0

for i in range(len(num)):
  if num[i]!=0:
    temp = num[i]
    num[i] = num[pos]
    num[pos] = temp
    pos+=1
print(num)

[1, 3, 12, 0, 0]

In [ ]:
# Q4
num = [1, 3, 2, 6, 5, 8, 7]
i=0
l=len(num)-1
while (i<len(num)):
  if i!=l:
    if num[i]>num[l]:
      print(num[i],end=" ")
    l-=1
  else:
    i+=1
    l=len(num)-1

3 6 8

In [ ]:
# Q5
num = [-1, 0, 1, 2, -1, -4]
n = len(num)
result = []

for i in range(n):
  for j in range(0,n-i-1):
    if num[j]>num[j+1]:
      temp = num[j]
      num[j]=num[j+1]
      num[j+1]=temp
for i in range(n):
    if i > 0 and num[i] == num[i-1]:
        continue
    left = i + 1
    right = n - 1
while left < right:
        s = num[i] + num[left] + num[right]

        if s == 0:
            result.append((num[i], num[left], num[right]))
            left += 1
            right -= 1

        elif s < 0:
            left += 1
        else:
            right -= 1

print(result)

print(num)

[]
[-4, -1, -1, 0, 1, 2]